<style>
    body {
        background: url('/images/Poza.png') no-repeat center center fixed;
        background-size: cover;
        color: white;
        font-family: Arial, sans-serif;
    }
    .card-custom {
        background-color: black;
        color: white;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin-bottom: 20px;
    }

        .card-custom .card-body {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    .card-title {
        color: #87CEEB; /* baby blue */
    }

    .card-subtitle, .card-text {
        color: white;
    }

    .btn-custom {
        background-color: #FFA500; /* orange */
        border: none;
        color: white;
    }

        .btn-custom:hover {
            background-color: #FF8C00; /* dark orange */
        }

    #background-video {
        display: none; /* Ascunde complet videoclipul pe această pagină */
    }
</style>
@{
    ViewBag.Title = "Category list";
}

<br />
<h2 class="text-center">@ViewBag.Title</h2>
<br />

@if (User.IsInRole("Admin"))
{
    <div class="align-items-center justify-content-center d-flex mb-4">
        <a class="btn btn-success" href="/Categories/New">Add a new category</a>
    </div>
}

<div class="container">
    <div class="row">
        @foreach (var category in ViewBag.Categories)
        {
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card card-custom" style="background-image: url('@Url.Content("~/path/to/your/image.jpg")');">
                    <div class="card-body">
                        <h5 class="card-title">@category.CategoryName</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a class="btn btn-custom" href="/Categories/Show/@category.CategoryId">Show category</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-custom" href="/Categories/Edit/@category.CategoryId">Edit category</a>
                            <form method="post" action="/Categories/Delete/@category.CategoryId" style="display:inline;">
                                <button class="btn btn-danger" style="background-color: #bd081c" type="submit">Delete category</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
